In [1]:
import pandas as pd
df = pd.read_csv("statedata.csv",header=0);

In [2]:
df

   Variable            W            Y           D
0        FC    15.000000    10.000000    5.000000
1       CIA    80.000000    40.000000   60.000000
2        F2    50.000000    30.000000  600.000000
3        F3  3400.000000   420.000000  300.000000
4        FM    90.000000   400.000000   30.000000
5        FS   430.000000    50.000000  200.000000
6        MP   200.000000  8500.000000  170.000000
7        O2     1.000000    12.370900    1.150000
8      kcia     0.533280     0.200000    0.799920
9      kvac     2.874710     0.281250    1.499850
10     kmit     0.599940     5.593750    0.666600
11      k23     0.226644     0.022400    0.010832
12     kcyt     2.567450     3.062500    8.340830
13      kO2   101.017000    24.748300   50.341300
14     kres    46.511600    46.511600   46.511600
15     kisu     5.732760     1.637930    5.732760
16      kmp     0.007407     0.003435    0.016424